.cabezera {
    display: flex;
    height: 70px;
    margin-bottom: 15px;
}

.publicar {
    margin-top: 15px;
    background-color: #1A374D;
    padding: 26px;
    border-radius: 5px;
    color: white;
}

.Forms {
    display: flex;
}

.size {
    height: 100%;
    width: 100%;
}

.Bloque {
    margin: 5px;
}

.btn-img {
    border: none;
    border-radius: 5px;
    background-color: rgb(96, 120, 143);
    height: 35px;
    color: black;
    margin-top: 5px;
}

.inputfile {
    position: relative;
    display: inline-block;
}

.inputfile::before {
    background-color: #92A9BD;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: " Subir Imagen";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.grid {
   
    padding: 5px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagen{
    border-radius: 6px;
    width: 500px;
    height: 500px;
}
