.fonditobonito {
    background: rgb(255, 255, 255);
}
.Container{
    height: 100vh;
    display: flex;
    scrollbar-width: none;
    overflow: scroll;
    width: 100%;  
}
.menus{
    width: 100%;  
    display: flex;
}
.Container::-webkit-scrollbar{
    display: none;
}

.container_slider {
    background-color: rgb(255, 255, 255);
    display: flex;
}

.Grupo {    
    width: 15%;
    color: #ffffff;
    text-align: center;
    font-size: 25px;

}


.canvas2 {    
    background-color: #1A374D;
    border-radius: 3px;
    border: none;
    display: block;
    justify-content: center;
}

.btn_muro {
    margin-top: 1px;
    width: 100%;
    background-color: rgb(185, 223, 221);
    border-radius: 3px;
    border: none;
    display: flex;
    justify-content: center;
}

.btn_name {
    margin-top: 5px;
    color: rgb(55, 58, 97);
    font-family: Arial, Helvetica, sans-serif;
}


.list-group {
    width: 100%;
    text-align: center;
}

.item {
    
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: rgb(230, 225, 225);
    font-family: Arial, Helvetica, sans-serif;
}

.subtitulo {
    text-decoration: none;
    font-size: 20px;
    color: rgba(55, 82, 97, 0.247);
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px rgb(185, 203, 223) solid;
}

.item:hover {
    font-size: 23px;
    background-color: rgba(65, 67, 90, 0.007);
    color: rgb(51, 124, 108);
}
.todos:hover{
    font-size: 17px;
    background-color: rgba(65, 67, 90, 0.007);
    color: rgb(51, 124, 108);
}

.Muro {
        margin-left: 15%;
    width: 45%;
}

.tab-pane {
    width: 100%;
}


.hileras {
    width: 130%;
    padding: 4px;
    display: flex;
    justify-content: space-between;
}

.bloque {
    padding: 5px;
    width: 35%;
}

.todos {
    color: rgb(130, 121, 131);
}

#RecuadroRachas {
    background-color: #1A374D !important;
}
/*-----------------------------------------------------------------------*/


 input[type="radio"]{
     display: none;
 }

 .sub-bloque-contenido{
     background-color: white;
 }

