.containersupremo{
    width: 95%;
    display: flex;
    
    margin-left: 5%;
}
.ContainerAux{    
    margin-top: 3%;
}

.Tarjeta{
    background-color: rgba(149, 125, 150, 0.479);
    width: 30%;
    height: 150px;
    margin-left: 15px;
    border-radius: 5px;
    
    
}
.desingImg{
    width: 100%;
    height: 100%;
}
.Desc{
    margin-bottom: 1%;
    margin-left:6%;
}
 img{
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
}
.ContainerTestimonio{
    display: flex;
}
.Container1{
    width: 40%;
}
.Container2{
    width: 100%;
}
.User_name{
    color: rgb(39, 28, 107);
}
.User_comment{
    color: rgb(28, 65, 107);

}
.card-text{
    text-align: right;
}
.Time_user{
    color: rgb(28, 81, 141)
}